<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Servidor</title>
</head>
<body>
    <form method="POST" action="/servers/updated_server">
        <!-- Aquí van los campos del formulario -->
        <input type="number" name="server_id" placeholder="ID Servidor" required>
        <input type="text" name="nombre" placeholder="Nombre Servidor" required>
        <input type="number" name="user_id" placeholder="ID Usuario" required>
        <!-- Más campos del formulario aquí -->
        <button type="submit">Actualizar</button>
    </form>   
</body>
</html>