<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Usuario</title>
</head>
<body>
    <form method="POST" action="/users/updated">
        <!-- Aquí van los campos del formulario -->
        <input type="text" name="nombre" placeholder="Nombre" required>
        <input type="text" name="apellido" placeholder="Apellido" required>
        <input type="password" name="contrasenia" placeholder="Contraseña" required>
        <input type="text" name="fecha_nac" placeholder="Fecha nacimiento" required>
        <input type="text" name="usuario" placeholder="Usuario" required>
        <input type="email" name="email" placeholder="correo electronico" required>
        <input type="number" name="user_id" placeholder="id_usuario" required>
        <!-- Más campos del formulario aquí -->
        <button type="submit">Actualizar</button>
    </form>   
</body>
</html>